body {
    font-family: Arial, Helvetica, sans-serif;
}

ul.navbar {
    list-style-type: none;
    background-color: #555D50;
    padding: 0;
}

ul.navbar li {
    background-color: #555D50;
    display: inline-block;
    padding: 17px;
}

ul.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    padding: 1vw;
}

ul.navbar li:hover {
    background-color: #6C7665;
}

#title {
    font-size: 28px;
    margin-left: 28vw;
}

form {
    max-width: 40vw;
    margin-left: 30vw;
    font-size: 20px;
}

form div {
    padding: 5px;
}

form input {
    width: 100%
}
#submit {
    width: 100%;
    background-color: cornflowerblue;
    font-size: 20px;
    color: white;
    border: none;
    padding: 5px;
}

div.module-info {
    max-width: 30vw;
}